In [ ]:
# Import the libraries
import pandas as pd
import numpy as np

In [ ]:
# Task-1 
# Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

data = np.random.randint(1, 100, size=(4,4))
df = pd.DataFrame(data)
df

    0   1   2   3
0  17  35  87  30
1  71  24   7  55
2   8  79  77  88
3  43  32  95  99

In [ ]:
# Task-2
# Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              17              35              87              30
1              71              24               7              55
2               8              79              77              88
3              43              32              95              99

In [ ]:
# Task-3
# Find the descriptive statistics of the 'df' dataframe.

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        34.750000       42.500000       66.500000       68.000000
std         28.359302       24.772296       40.344351       31.485446
min          8.000000       24.000000        7.000000       30.000000
25%         14.750000       30.000000       59.500000       48.750000
50%         30.000000       33.500000       82.000000       71.500000
75%         50.000000       46.000000       89.000000       90.750000
max         71.000000       79.000000       95.000000       99.000000

In [ ]:
# Task-4
# Check for the null values in 'df' and find the data type of the columns.

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [ ]:
# Task-5
# Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

# Location based selection
df.loc[:,['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0              35              87
1              24               7
2              79              77
3              32              95

In [ ]:
# Index based selection
df.iloc[:, 1:3]

   Random value 2  Random value 3
0              35              87
1              24               7
2              79              77
3              32              95