In [1]:
#Kruthika.J

#Asignment-1

#Task - 1 

#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4, 4))
df

          0         1         2         3
0 -1.046163  2.021518 -0.804885  1.685782
1 -1.033278 -0.598686  2.703569  0.064766
2 -0.705490  0.822584 -1.643168 -1.548436
3  0.560837 -1.378855  0.111230 -1.892712

In [2]:
#Task - 2

# Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.046163        2.021518       -0.804885        1.685782
1       -1.033278       -0.598686        2.703569        0.064766
2       -0.705490        0.822584       -1.643168       -1.548436
3        0.560837       -1.378855        0.111230       -1.892712

In [3]:
#Task - 3 

#Find the descriptive statistics of the 'df' dataframe.

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.556024        0.216640        0.091686       -0.422650
std          0.761079        1.509428        1.882894        1.644337
min         -1.046163       -1.378855       -1.643168       -1.892712
25%         -1.036499       -0.793728       -1.014456       -1.634505
50%         -0.869384        0.111949       -0.346828       -0.741835
75%         -0.388909        1.122318        0.759314        0.470020
max          0.560837        2.021518        2.703569        1.685782

In [5]:
#Task - 4 

#Check for the null values in 'df' and find the data type of the columns.

df.isnull() #To check null

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [6]:
df.info() #To check datatype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [7]:
#Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

#Using loc() method

df.loc[:,'Random value 2': 'Random value 3']

   Random value 2  Random value 3
0        2.021518       -0.804885
1       -0.598686        2.703569
2        0.822584       -1.643168
3       -1.378855        0.111230

In [8]:
#Using iloc() method

df.iloc[:, [1,2]]

   Random value 2  Random value 3
0        2.021518       -0.804885
1       -0.598686        2.703569
2        0.822584       -1.643168
3       -1.378855        0.111230