In [ ]:
#Kruthika.J
#20BCT0353


###ASSIGNMENT 2




# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from keras import Sequenial
from keras.layers import Dense
from keras.optimizers.legacy import adam

from sklearn.model_selection import train_test_split

In [ ]:
dataset = pd.read_csv('drug200.csv')
dataset.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
dataset.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [ ]:
#Data preprocessing stage
#Handling categorical data

dataset.Sex = dataset.Sex.astype('category').cat.codes
dataset.BP = dataset.BP.astype('category').cat.codes
dataset.Cholesterol = dataset.Cholesterol.astype('category').cat.codes
dataset.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  DrugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  DrugY

In [ ]:
# Handling Empty Values

In [ ]:
dataset.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
#Training and testing data

x = dataset.drop(['Drug'], axis = 1).values
y = pd.get_dummies(dataset.Drug).values
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.3)

print(xTrain.shape)
print(yTrain.shape)

xTrain[:5]

(140, 5)
(140, 5)

array([[22.   ,  0.   ,  2.   ,  0.   ,  8.607],
       [20.   ,  0.   ,  2.   ,  1.   ,  9.281],
       [57.   ,  0.   ,  2.   ,  1.   , 25.893],
       [36.   ,  0.   ,  0.   ,  0.   , 11.198],
       [65.   ,  0.   ,  1.   ,  1.   , 13.769]])

In [22]:
## Model Definition Stage

model = Sequential()
model.add(Dense(48, input_dim = 5, activation = 'relu'))
model.add(Dense(36, activation = 'relu'))
model.add(Dense(24, activation = 'relu'))
model.add(Dense(12, activation = 'relu'))
model.add(Dense(5, activation = 'softmax'))
model.compile(optimizer = adam.Adam(), loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [23]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 48)                288

 dense_16 (Dense)            (None, 36)                1764

 dense_17 (Dense)            (None, 24)                888

 dense_18 (Dense)            (None, 12)                300

 dense_19 (Dense)            (None, 5)                 65

=================================================================
Total params: 3,305
Trainable params: 3,305
Non-trainable params: 0
_________________________________________________________________

In [24]:
model.fit(xTrain, yTrain, epochs = 10)

Epoch 1/10
5/5 [==============================] - 1s 3ms/step - loss: 5.0235 - accuracy: 0.1429
Epoch 2/10
5/5 [==============================] - 0s 4ms/step - loss: 2.8588 - accuracy: 0.4214
Epoch 3/10
5/5 [==============================] - 0s 4ms/step - loss: 1.7434 - accuracy: 0.4000
Epoch 4/10
5/5 [==============================] - 0s 4ms/step - loss: 1.4897 - accuracy: 0.5286
Epoch 5/10
5/5 [==============================] - 0s 4ms/step - loss: 1.4243 - accuracy: 0.5143
Epoch 6/10
5/5 [==============================] - 0s 4ms/step - loss: 1.2539 - accuracy: 0.5143
Epoch 7/10
5/5 [==============================] - 0s 3ms/step - loss: 1.2358 - accuracy: 0.4214
Epoch 8/10
5/5 [==============================] - 0s 4ms/step - loss: 1.1540 - accuracy: 0.5429
Epoch 9/10
5/5 [==============================] - 0s 3ms/step - loss: 1.1199 - accuracy: 0.5214
Epoch 10/10
5/5 [==============================] - 0s 4ms/step - loss: 1.0804 - accuracy: 0.5357

In [25]:
test_loss, test_acc = model.evaluate(xTest, yTest)
print('Test accuracy:', test_acc * 100)

2/2 [==============================] - 0s 9ms/step - loss: 1.0032 - accuracy: 0.6000
Test accuracy: 60.00000238418579