In [ ]:
import pandas as pd
import numpy as np

# Task - 1
data = np.random.randn(4, 4)
df = pd.DataFrame(data)
print(df)

          0         1         2         3
0  0.427336  1.399713  1.219248 -0.310955
1 -0.350422  1.140275 -1.630909 -1.453558
2 -0.307670 -0.419057  0.693679 -0.153151
3 -0.349964 -0.597811 -0.067634 -0.730825

In [ ]:
# Task - 2
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.427336        1.399713        1.219248       -0.310955
1       -0.350422        1.140275       -1.630909       -1.453558
2       -0.307670       -0.419057        0.693679       -0.153151
3       -0.349964       -0.597811       -0.067634       -0.730825

In [ ]:
# Task - 3
df_stats = df.describe()
print(df_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.145180        0.380780        0.053596       -0.662122
std          0.382204        1.034801        1.241062        0.581223
min         -0.350422       -0.597811       -1.630909       -1.453558
25%         -0.350078       -0.463746       -0.458453       -0.911508
50%         -0.328817        0.360609        0.313023       -0.520890
75%         -0.123919        1.205135        0.825072       -0.271504
max          0.427336        1.399713        1.219248       -0.153151

In [ ]:
# Task - 4
null_values = df.isnull().sum()
print(null_values)
data_types = df.dtypes
print(data_types)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
# Task - 5
random_value_2_loc = df.loc[:, 'Random value 2']
print(random_value_2_loc)
random_value_3_loc = df.loc[:, 'Random value 3']
print(random_value_3_loc)
random_value_2_idx = df.iloc[:, 1]
print(random_value_2_idx)
random_value_3_idx = df.iloc[:, 2]
print(random_value_3_idx)

0    1.399713
1    1.140275
2   -0.419057
3   -0.597811
Name: Random value 2, dtype: float64
0    1.219248
1   -1.630909
2    0.693679
3   -0.067634
Name: Random value 3, dtype: float64
0    1.399713
1    1.140275
2   -0.419057
3   -0.597811
Name: Random value 2, dtype: float64
0    1.219248
1   -1.630909
2    0.693679
3   -0.067634
Name: Random value 3, dtype: float64